@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 6.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    margin-top: 0;
    padding-top: 0;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: #1f2020;
}

main {
    padding: 5vw;
    background-color: #0060FF;
}
main h2 {
    color: white;
    text-align: center;
    font-size: 60px;
}

#courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#courses div {
    display: flex;
    flex-flow: row wrap;
    width: 70vw;
}