body {
    background-color: #1f2020;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

header a {
    position: absolute;
    display: flex;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #0060ff;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    left: 14px;
    justify-content: center;
    align-items: center;
}

header a:hover {
    color: #1F2020;
}

header a i {
    align-self: center;
    font-size: 1.8em;
}

#worlds {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    overflow:hidden;
}

#worlds a {
    display: flex;
    background-color: #0060ff;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    justify-content: center;
    align-items: center;
}

#worlds a:hover {
    cursor: pointer;
    border: 5px solid white;
} 